{
  "MOMENTO_HTTP_ENDPOINT": "api.cache.cell-4-us-west-2-1.prod.a.momentohq.com",
  "MOMENTO_BACKEND": "aws_us_west_2_http",
  "MOMENTO_CACHE": "<YOUR-CACHE-NAME>",
  "MOMENTO_API_KEY": "<YOUR-MOMENTO-API-KEY>"
}
