name: Build

on:
  pull_request:
    branches: [main, console-mvp]

jobs:
  verify:
    runs-on: macos-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Verify README generation
        uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v1
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: Node.js
          usage_example_path: ./examples/basic.ts

      - name: Commitlint and Other Shared Build Steps
        uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    strategy:
      matrix:
        node: [18]
    name: Test on Node ${{ matrix.node }}
    runs-on: macos-latest
    env:
      TEST_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_CACHE_NAME: js-integration-test-ci\
      TEST_SESSION_TOKEN:  ${{ secrets.ALPHA_TEST_SESSION_TOKEN }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Build common package
        run: |
          node -v
          ./scripts/build-and-test-package.sh "common"

      - name: Build common-integration-tests package
        run: |
          node -v
          ./scripts/build-and-test-package.sh "common-integration-tests"

      - name: Build nodejs sdk
        run: |
          node -v
          ./scripts/build-and-test-package.sh "client-sdk-nodejs"

      # needs to happen after building our common package, since it depends on it
      - name: Build web sdk
        run: |
          node -v
          ./scripts/build-and-test-package.sh "client-sdk-web"

  test-examples:
    strategy:
      matrix:
        node: [14, 16, 18]
    name: Test examples on node ${{ matrix.node }}
    runs-on: macos-latest
    env:
      # TODO: remove token stored as secret in favor of using a
      # momento-local instance that can be spun up for testing
      MOMENTO_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install Deps and Build
        id: validation
        continue-on-error: true
        run: |
          pushd examples
            npm ci
            npm run build
          popd

      - name: Send CI failure mail
        if: ${{ steps.validation.outcome == 'failure' }}
        uses: momentohq/standards-and-practices/github-actions/error-email-action@gh-actions-v1
        with:
          username: ${{secrets.MOMENTO_ROBOT_GMAIL_USERNAME}}
          password: ${{secrets.MOMENTO_ROBOT_GMAIL_PASSWORD}}

      - name: Flag Job Failure
        if: ${{ steps.validation.outcome == 'failure' }}
        run: exit 1
