name: CI

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      TEST_AUTH_TOKEN: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_CACHE_NAME: integration_tests_ruth_debugging

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
          
      - name: Configure Artifactory credentials
        run: |
          # lel this is how jfrog wants you to come up with your scoped npm configuration
          echo @momento:registry=https://momento.jfrog.io/artifactory/api/npm/npm-public/ >> ~/.npmrc
          
      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint
        
      - name: Test
        run: npm run test

      - name: Integration Test
        run: npm run integration
