name: Manual Release
# Triggers a merge from main->release, which will then trigger a release
# from the release branch.
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  merge-to-release-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Merge main -> release
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: main
          target_branch: release
          github_token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}
