name: On push to main branch

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-24.04
    env:
      MOMENTO_API_KEY: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_SESSION_TOKEN: ${{ secrets.MOMENTO_PREPROD_SESSION_TOKEN }}
      TEST_LEGACY_AUTH_TOKEN: ${{ secrets.ALPHA_LEGACY_TEST_AUTH_TOKEN }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Build all packages
        run: |
          node -v
          ./scripts/build-all-packages.sh

      - name: Generate README
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: JavaScript
          dev_docs_slug: nodejs
          multiple_sdks: true

      - name: Generate README for nodejs
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: Node.js
          dev_docs_slug: nodejs
          template_file: ./packages/client-sdk-nodejs/README.template.md
          output_file: ./packages/client-sdk-nodejs/README.md

      - name: Generate README for nodejs compression extension
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./packages/client-sdk-nodejs-compression/README.template.md
          output_file: ./packages/client-sdk-nodejs-compression/README.md

      - name: Generate README for nodejs compression zstd extension
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./packages/client-sdk-nodejs-compression-zstd/README.template.md
          output_file: ./packages/client-sdk-nodejs-compression-zstd/README.md

      - name: Generate README for web
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: "JavaScript Web"
          dev_docs_slug: web
          template_file: ./packages/client-sdk-web/README.template.md
          output_file: ./packages/client-sdk-web/README.md

      - name: Generate README for examples
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/README.template.md
          output_file: ./examples/README.md

      - name: Generate README for examples/deno
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/deno/README.template.md
          output_file: ./examples/deno/README.md

      - name: Generate README for examples/deno/web-sdk
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/deno/web-sdk/README.template.md
          output_file: ./examples/deno/web-sdk/README.md

      - name: Generate README for examples/deno/http-api
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/deno/http-api/README.template.md
          output_file: ./examples/deno/http-api/README.md

      - name: Generate README for examples/nodejs
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/README.template.md
          output_file: ./examples/nodejs/README.md

      - name: Generate README for examples/nodejs/cache
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/cache/README.template.md
          output_file: ./examples/nodejs/cache/README.md

      - name: Generate README for examples/nodejs/observability
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: other
          template_file: ./examples/nodejs/observability/README.template.md
          output_file: ./examples/nodejs/observability/README.md

      - name: Generate README for examples/nodejs/compression
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/compression/README.template.md
          output_file: ./examples/nodejs/compression/README.md

      - name: Generate README for examples/nodejs/compression-zstd
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/compression-zstd/README.template.md
          output_file: ./examples/nodejs/compression-zstd/README.md

      - name: Generate README for examples/nodejs/token-vending-machine
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: other
          template_file: ./examples/nodejs/token-vending-machine/README.template.md
          output_file: ./examples/nodejs/token-vending-machine/README.md

      - name: Generate README for examples/nodejs/rate-limiter
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: beta
          project_type: other
          template_file: ./examples/nodejs/rate-limiter/README.template.md
          output_file: ./examples/nodejs/rate-limiter/README.md

      - name: Generate README for examples/nodejs/access-control
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/access-control/README.template.md
          output_file: ./examples/nodejs/access-control/README.md

      - name: Generate README for examples/nodejs/aws
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/README.template.md
          output_file: ./examples/nodejs/aws/README.md

      - name: Generate README for examples/nodejs/aws/secrets-manager
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/secrets-manager/README.template.md
          output_file: ./examples/nodejs/aws/secrets-manager/README.md

      - name: Generate README for examples/nodejs/aws/eventbridge
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/eventbridge/README.template.md
          output_file: ./examples/nodejs/aws/eventbridge/README.md

      - name: Generate README for examples/nodejs/aws/eventbridge/webapp
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/eventbridge/webapp/README.template.md
          output_file: ./examples/nodejs/aws/eventbridge/webapp/README.md

      - name: Generate README for examples/nodejs/aws/eventbridge/cliApp
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/eventbridge/cliApp/README.template.md
          output_file: ./examples/nodejs/aws/eventbridge/cliApp/README.md

      - name: Generate README for examples/nodejs/aws/lambda-examples
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/lambda-examples/README.template.md
          output_file: ./examples/nodejs/aws/lambda-examples/README.md

      - name: Generate README for examples/nodejs/aws/lambda-examples/simple-get
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/lambda-examples/simple-get/README.template.md
          output_file: ./examples/nodejs/aws/lambda-examples/simple-get/README.md

      - name: Generate README for examples/nodejs/aws/lambda-examples/cloudwatch-metrics
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: other
          template_file: ./examples/nodejs/aws/lambda-examples/cloudwatch-metrics/README.template.md
          output_file: ./examples/nodejs/aws/lambda-examples/cloudwatch-metrics/README.md

      - name: Generate README for examples/nodejs/aws/lambda-examples/advanced-compression
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/aws/lambda-examples/advanced-compression/README.template.md
          output_file: ./examples/nodejs/aws/lambda-examples/advanced-compression/README.md

      - name: Generate README for examples/nodejs/topics
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/topics/README.template.md
          output_file: ./examples/nodejs/topics/README.md

      - name: Generate README for examples/nodejs/load-gen
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/nodejs/load-gen/README.template.md
          output_file: ./examples/nodejs/load-gen/README.md

      - name: Generate README for examples/fastly-compute
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/fastly-compute/README.template.md
          output_file: ./examples/fastly-compute/README.md

      - name: Generate README for examples/web
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/web/README.template.md
          output_file: ./examples/web/README.md

      - name: Generate README for examples/web/cache
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/web/cache/README.template.md
          output_file: ./examples/web/cache/README.md

      - name: Generate README for examples/web/nextjs-chat
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/web/nextjs-chat/README.template.md
          output_file: ./examples/web/nextjs-chat/README.md

      - name: Generate README for examples/web/vite-chat-app
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: other
          template_file: ./examples/web/vite-chat-app/README.template.md
          output_file: ./examples/web/vite-chat-app/README.md

      - name: Generate README for examples/cloudflare-workers
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/cloudflare-workers/README.template.md
          output_file: ./examples/cloudflare-workers/README.md

      - name: Generate README for examples/cloudflare-workers/http-api
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/cloudflare-workers/http-api/README.template.md
          output_file: ./examples/cloudflare-workers/http-api/README.md

      - name: Generate README for examples/cloudflare-workers/web-sdk
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: other
          template_file: ./examples/cloudflare-workers/web-sdk/README.template.md
          output_file: ./examples/cloudflare-workers/web-sdk/README.md

